body{
    background-color: rgba(242, 255, 0, 0.956);;

}
    h1{
    text-align:center;
    font-family: 'Pacifico', cursive;
    font-size:30px;
    color:red;
}
img{
    display:block;
    margin:0 auto;
    width:800px;
}
.email{
    text-decoration:none;
}
.links{
    text-align:center;
}
p{
    text-align:center;
}